@font-face {
    font-family: VarelaRound;
    src: url(../fonts/VarelaRound-Regular.ttf);
    font-weight: 400;
}

@media (min-width: 100px) {
    * {
        box-sizing: border-box;
        font-family: VarelaRound, sans-serif, serif;
    }

    :not(.normal-font-size):not(h1):not(h2):not(h3):not(h4) {
        font-size: 20px;
    }

    body, html {
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }

    body {
        background: #0e0e0e;
        /*background: white;*/
        color: #919191;
    }

    header, #settings-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;
        align-items: center;
    }

    header > div {
        display: flex;
        align-items: center;
        /*gap: 20px;*/
        justify-content: space-between;
        /*background: #a46d49;*/
        /*border-radius: 30px;*/
        padding: 3vh 0;
        width: 90%;
        border-bottom: 10px dotted saddlebrown;
    }

    .checkbox-button {
        display: inline-flex;
        align-items: center;
        gap: 0.5em;
        padding: 4px 12px 4px 8px;
        background: #1f2425;
        border: 3px solid #3c4143;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 15px;
    }

    .checkbox-button span {
        font-size: 16px;
    }

    #settings-div {
        row-gap: 0;
        /*Hide by default, expand when user clicks on the settings icon*/
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }

    #settings-div.expanded {
        max-height: 200px;
        /*overflow: hidden; !* Initially, hide the overflow *!*/
        /* Delayed animation to prevent showing the scrollbar while settings-div is expanding */
        animation: enableScroll 0.5s ease 0.5s forwards;
    }

    /*Enable scroll in case there are more buttons than 200px height*/
    @keyframes enableScroll {
        to {
            overflow: auto; /* Apply overflow: auto after the delay */
        }
    }
    /*#settings-div.expanded label{*/
    /*    margin-top: ;*/
    /*}*/
    #settings-toggle-btn {
        cursor: pointer;
    }

    #bpm-input {
        font-size: 20px;
        text-align: center;
        background: transparent;
        color: #c0c0c0;
        border: none;
        border-bottom: 2px dashed #8a8a8a;
        padding: 5px 10px;
        width: 90px;
    }

    .start-stop-btn {
        padding: 8px 8px;
        border: none;
        background: transparent;
        border-radius: 10px;
        color: #c0c0c0;
        font-size: 17px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .start-stop-btn:hover {
        /*border-bottom: 2px dotted #8a8a8a;*/
        background: rgba(255, 255, 255, .1);
    }

    .icon {
        width: 30px;
        filter: invert(70%);
    }

    .button-icon {
        width: 30px;
        filter: invert(70%);
    }

    #treble-clef-output {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }

    #treble-clef-output svg {
        display: block;
        height: 100%;
    }

    #game-start-instruction {
        width: 100%;
        justify-content: center;
        color: #c0c0c0;
        text-align: center;
        gap: 0;
        max-width: 975px;
    }

    #game-start-instruction p {
        margin: 14px;
    }

    #game-start-instruction details {
        width: 100%;
        margin-top: 20px;
    }

    details summary {
        cursor: pointer;
        margin-bottom: 20px;
    }

    details summary > * {
        display: inline;
    }

    details summary h3 {
        margin-left: 10px;
    }

    #mute-metronome {
        cursor: pointer;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 20px;
    }

    main > div {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    main div span {
        width: 100%;
        /*So that they are on top of each other inside div*/
        display: block;
    }

    /* Class name twice to increase specificity */
    .note-value-span.note-value-span {
        font-size: 130px;
        font-weight: bold;
        color: #bcbcbc;
    }

    .label {
        color: #919191;
    }

    .visible-when-game-on {
        display: none;
    }

    #previous-lvl-btn {
        transform: rotate(90deg);
    }

    #next-lvl-btn {
        transform: rotate(-90deg);
    }

    .lvl-icon {
        width: 50px;
        padding: 15px;
        cursor: pointer;
    }

    .center-flexbox {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*Score*/
    #score {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #score span {
        width: fit-content;
        padding: 0 20px;
        font-size: 30px;
        font-weight: bold;
    }

    #incorrect-count {
        color: darkred;
    }

    #correct-count {
        color: green;
    }

    /* Detected note */
    #detected-note-div {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    #detected-note {
        line-height: 20px;
        font-size: 45px;
        position: relative;
        display: inline-block;
        padding: 0 20px;
        /*width: 400px; !* Adjust the width as per your preference *!*/
        overflow: visible;
        color: #a96f00;
    }

    #detected-note::before,
    #detected-note::after {
        color: #a96f00;
        content: '';
        position: absolute;
        top: 50%;
        height: 8px; /* Maximum height of the bar */
        background-color: rgba(255, 255, 255, .3); /* Set the color of the growing bar */
        transition: width 0.3s ease; /* Adjust the transition duration as per your preference */
        border-radius: 99px;
    }

    /* Left and right bar width set by javascript depending on the length oft bar (cent amount) */
    #detected-note::before {
        left: 0;
        width: var(--left-bar-width, 0%);
        transform: translate(-100%, -50%);
    }

    #detected-note::after {
        right: 0;
        transform: translate(100%, -50%);
        width: var(--right-bar-width, 0%);
    }

    #frequency-bars {
        position: fixed;
        bottom: 0;
        z-index: -1;
    }

    #progress-bar-title-div {
        width: 100%;
        margin-bottom: 10px;
    }

    #game-progress-div {
        width: 90%;
        align-items: center;
        flex-wrap: nowrap;
        color: #b6b6b6;
    }

    #game-progress-div span {
        width: fit-content;
    }

    #game-progress-div .meter {
        width: 100%;
    }

    .meter span {
        color: greenyellow;
        text-align: right;
        padding-right: 5px;
    }

    .hidden {
        display: none !important;
    }

    /*summary::marker{*/
    /*    content: none;*/
    /*}*/
    /*details>summary {*/
    /*  list-style: none;*/
    /*}*/
    /*summary::-webkit-details-marker {*/
    /*  display: none*/
    /*}*/
    /*summary::after {*/
    /*  content: ' ►';*/
    /*}*/
    /*details[open] summary:after {*/
    /*  content: " ▼";*/
    /*}*/
}

@media (min-width: 641px) {
    main {
        margin-top: 40px;
        justify-content: center;
        column-gap: 20vw;
    }

    header > div {
        width: 60%;
        justify-content: space-around;
        /*justify-content: center;*/
        /*column-gap: 60px;*/
    }

    #game-progress-div {
        width: 75%;
    }
}

@media (min-width: 961px) {
    header > div {
        width: 50%;
    }

    #game-progress-div {
        width: 60%;
    }
}

@media (min-width: 1250px) {
    #game-progress-div {
        width: 50%;
    }

}