@font-face {
    font-family: VarelaRound;
    src: url(fonts/VarelaRound-Regular.ttf);
    font-weight: 400;
}

@media (min-width: 100px) {
    * {
        box-sizing: border-box;
        font-family: VarelaRound, sans-serif, serif;
        font-size: 20px;
        color: whitesmoke;
    }

    body, html {
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }

    body {
        background: #0e0e0e;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;
        align-items: center;

    }

    header div {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-around;
        /*background: #a46d49;*/
        /*border-radius: 30px;*/
        padding: 3vh;
        width: 90%;
        border-bottom: 10px dotted saddlebrown;
    }

    #bpm-input {
        font-size: 20px;
        text-align: center;
        background: transparent;
        color: #c0c0c0;
        border: none;
        border-bottom: 2px dashed #8a8a8a;
        padding: 5px 10px;
        width: 90px;
    }

    .btn {
        padding: 8px 14px;
        border: none;
        background: transparent;
        border-radius: 10px;
        color: #c0c0c0;
        font-size: 17px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .btn:hover {
        /*border-bottom: 2px dotted #8a8a8a;*/
        background: rgba(255, 255, 255, .1);
    }

    .icon {
        width: 30px;
        filter: invert(70%);
    }

    label[for="challenging-notes-preset"] {
        color: #919191;
        font-size: 16px;
        cursor: pointer;
    }

    #game-start-instruction {
        color: #c0c0c0;
    }

    #mute-metronome {
        cursor: pointer;
    }

    main {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        text-align: center;
        column-gap: 20vw;
        margin-top: 40px;
    }

    main div {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    main div span {
        width: 100%;
        /*So that they are on top of each other inside div*/
        display: block;
    }

    .note-value-span {
        font-size: 130px;
        font-weight: bold;
        color: #bcbcbc;
    }
    .label{
        color: #919191;
    }

    .visible-when-game-on {
        display: none;
    }
    /*Score*/
    #score{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
    }
    #score span{
        width: fit-content;
        padding: 20px;
        font-size: 30px;
        font-weight: bold;
    }
    #incorrect-count {
        color: darkred;
    }
    #correct-count {
        color: green;
    }
    /* Detected note */
    #detected-note-div {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    #detected-note {
        font-size: 45px;
        position: relative;
        display: inline-block;
        padding: 20px;
        /*width: 400px; !* Adjust the width as per your preference *!*/
        overflow: visible;
        color: #a96f00;
    }

    #detected-note::before,
    #detected-note::after {
        color: #a96f00;
        content: '';
        position: absolute;
        top: 50%;
        height: 8px; /* Maximum height of the bar */
        background-color: rgba(255, 255, 255, .3); /* Set the color of the growing bar */
        transition: width 0.3s ease; /* Adjust the transition duration as per your preference */
        border-radius: 99px;
    }

    /* Left and right bar width set by javascript depending on the length oft bar (cent amount) */
    #detected-note::before {
        left: 0;
        width: var(--left-bar-width, 0%);
        transform: translate(-100%, -50%);
    }

    #detected-note::after {
        right: 0;
        transform: translate(100%, -50%);
        width: var(--right-bar-width, 0%);
    }

    #frequency-bars {
        position: fixed;
        bottom: 0;
        z-index: -1;
    }

}

@media (min-width: 641px) {
    header div {
        width: 60%;
        /*justify-content: center;*/
        /*column-gap: 60px;*/
    }

    main {
    }
}

@media (min-width: 961px) {
    header div {
        width: 50%;
    }
}