/* mobile first min-width sets base and content is adapted to computers. */
@media (min-width: 100px) {
    #fret-selection-container {
        width: 100%;
        overflow: auto;
    }

    #fretboard-number-span{
        font-size: 26px;
        color: saddlebrown;
    }

    .fretboard-for-shapes {
        min-width: 420px;
        padding-right: 40px;
    }
    .inactive-fretboard{
        display: none;
    }

    .diatonic-note-number {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #000000;
        border: 1px solid #ffffff;
        line-height: 1.4em;
        /*color: #ff7a1c;*/
        color: white;
        font-weight: bold;
        /*border-radius: 50%;*/
        bottom: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(50%);
        z-index: 2;
    }

    .diatonic-major {
        color: #ee2929;
    }

    .diatonic-minor {
        color: #2e8bff;
    }

    .diatonic-diminished {
        color: #12c712;
    }


    #fret-selection-container .fret-position:hover{
        background-color: initial;
        cursor: initial;
    }

}
