@media (min-width: 100px) {
    #landing-page-game-mode-choice {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    #landing-page-game-mode-choice > div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 200px;
        gap: 20px;
    }
    #project-source-code#project-source-code{
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        font-size: 15px;
        background-color: var(--background-color);
        width: 100vw;
        margin: 0;
        padding: 10px;
        border-radius: 50% 50% 0 0;
        box-shadow: 0 0 10px 0 var(--background-color);
    }
    #project-source-code#project-source-code a{
        font-size: 16px;
    }
}