/* mobile first min-width sets base and content is adapted to computers. */
@media (min-width: 100px) {
    /* The Modal (background) */
    #modal {
        position: fixed; /* Stay in place */
        z-index: 100; /* Sit on top of content placeholder but below .flash */
        /*padding: 200px 0; !* Location of the box *!*/
        padding: 13vh 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100lvh; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(100, 100, 100); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        backdrop-filter: blur(3px);
    }
    .big-modal#modal {
        padding-top: 7vh;
    }

    /* Modal Content */
    #modal-box {
        position: relative;
        background-color: rgba(3, 10, 0, 0.85);
        margin: auto;
        padding: 0 18px 40px;
        border-radius: 40px;
        /*border: 2px solid black;*/
        width: fit-content;
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
        /*box-shadow: 0 4px 8px 0 green, 0 6px 20px 0 green;*/
        box-shadow: 0 3px 0px 0 saddlebrown, 0 -3px 0px 0 saddlebrown;
        /*box-shadow: 0 3px 10px 0px saddlebrown, 0 -3px 10px 0 saddlebrown;*/
        /*border: 3px solid rgba(80, 232, 80, 0.39);*/
        animation-name: fade-in-modal;
        animation-duration: 0.4s;
        max-width: 100%;
        /*backdrop-filter: blur(20px);*/
    }

    .lvl-up-modal #modal-box {
        box-shadow: 0 3px 0px 0 green, 0 -3px 0px 0 green;
    }

    /* The Close Button */
    #close-modal {
        color: #696969;
        font-size: 32px;
        font-weight: normal;
        margin-top: 10px;
        margin-right: 5px;
        position: absolute;
        top: 0;
        right: 25px;
    }

    #close-modal:hover,
    #close-modal:focus {
        color: #868686;
        text-decoration: none;
        cursor: pointer;
    }

    /* Modal Header */
    #modal-header {
        padding: 10px 0 0;
        font-size: 17px;
        /*background-color: #5cb85c;*/
        /*color: white;*/
    }

    /* Modal Body */
    #modal-body {
        padding: 10px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    /* Modal Footer */
    #modal-footer {
        padding: 40px 0 10px;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        /*background-color: #5cb85c;*/
        /*color: white;*/
    }

    /*Wide form input group with label and input being max half wide and wrapping */
    .wide-modal-form {
        display: grid;
        gap: 0px 40px;
        /*Source for this awesome grid-template-columns setting: https://stackoverflow.com/a/69154193/9013718 */
        grid-template-columns: repeat(auto-fit, minmax(min(100%, max(300px, 100% / 3 - 45px)), 1fr));
    }

    .double-width-form-input-div {
        /* I would like the client create main note column to be twice the width of the other grid columns but don't know
        how to implement it easily with the complex grid-template-columns setting */
    }

    .grey-btn {
        background: rgba(255, 255, 255, .3);
        /*border: 1px solid saddlebrown;*/
        border: none;
        border-radius: 10px;
        padding: 10px 10px;
        cursor: pointer;
    }

    .green-btn {
        /*border: 2px solid green;*/
        background: rgba(80, 232, 80, 0.39);
        border: none;
        border-radius: 10px;
    }

}

@media (min-width: 641px) {
    #modal {
        padding-top: 13vh; /* Location of the box */
    }

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    #alert-modal-box {
        padding: 40px;
        max-width: 90%;
    }

    #alert-modal-footer #start-stop-btn {
        font-size: 1.2em;
    }

    #modal-box {
        max-width: 90%;
        padding: 0 30px 40px 30px;
    }

    #modal-box button {
        /*margin: 20px;*/
    }

    #modal-box.wide-modal {
        /*width: 95%;*/
    }

    .wide-modal-form {
        /*grid-template-columns: repeat(2, 1fr);*/
    }
}

@media (min-width: 800px) {
    #modal-box {
        max-width: 90%;
    }
}

@media (min-width: 900px) {

}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width: 1200px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width: 1500px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width: 1700px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

}

/* Add Animation */
@keyframes fade-in-modal {
    from {
        transform: scale(0.97);
        opacity: 0
    }
    to {
        transform: scale(1);
        opacity: 1
    }
}

/*@media only screen and (max-width: 1100px) {*/
/*    #modal-box {*/
/*        width: 60%;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 700px) {*/
/*    #modal-box {*/
/*        width: 80%;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 500px) {*/
/*    #modal-box {*/
/*        width: 95%;*/
/*    }*/
/*}*/

