#fret-gap-range-slider-container{
    width: 140px;
    text-align: center;
}
#fret-gap-range-slider-container span{
    font-size: 13px;
}

#fret-gap-range-slider-container input{
    width: 100%;
    margin: 0;
}
#level-options {
  display: flex;
  justify-content: space-between;
    /*margin: 0 2px 0 4px;*/
}
#level-options option {
  font-size: 15px;
    font-weight: bold;
}